
.DS_Store

voice_assistant/__pycache__/

voice_assistant/audio_io/__pycache__/

voice_assistant/action/__pycache__/

voice_assistant/intent/__pycache__/

whatsapp_profile/
netflix_profile/

whatsapp_cookies.pkl
voice_assistant/netflix_profile/CertificateRevocation/9825/_metadata/
